:root {
    --bg-main: #1e1f22; /* Main */
    --bg-section: #242423; /* Cards and boxes */
    --bg-alternate: #cdcdcf; 

    --text-primary: #f2f0ef; /* Headers */
    --text-secondary: #3aafb9; /* Body text*/

    --accent-primary: #093a3e; /* buttons hover */
    --accent-secondary: #97c8eb; /* button static */
    
    --border-muted: #3aafb9; /* tables and borders */ 
}
